@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face {
   font-family: 'ProximaNova-Regular';
   src: url(ProximaNova-Regular.otf);
}

@font-face {
   font-family:  'Open Sans', sans-serif;
   src: url(Proxima Nova ScOsf Extra Condensed Light Italic.otf);
}

.hero{
             background-image: url(background_image.jpg);
             background-size: cover;
       }


.header{
            text-align: center;
            padding-top: 30px;
            padding-bottom: 25px;    

}




.container{
		     max-width: 980px;   
		     margin: 0px auto;
	         overflow: hidden;
}

p2 {
	         font-family:  'Open Sans', sans-serif;
	         font-size: 15px;
	         line-height: 24px;
	         font-weight: 300;
	         color: #fff;
}

.header::after {
			    content: "";
			    border: 1px solid white;
			    display: inline-block;
			    width: 100%;
			    opacity: 0.38;
			    margin-top: 25px;
			}

/*hr{
	         font-size: 1px;
	         width: 940px;
	         color: #fff;
	         margin-top: 25px;
	         opacity: 0.38;
}*/
.hero-text{
             width: 60%;
             float: left;
	         overflow: hidden;



}



.hero-text h1{            
	         font-family: 'ProximaNova-Regular';
	         font-size: 30px;
	         line-height: 35px;
	         font-weight: 700;
	         color: #fff;
	         padding-top: 56px;
	         letter-spacing: 2px;


}
.hero-text h2{            
	         font-family:  'Open Sans', sans-serif;
	         font-size: 22px;
	         line-height: 43px;
	         font-weight: 300;
	         color: #fff;
	         padding-top: 15px;

}
.hero-text h3{   
              display: block;        
	         font-family:  'Open Sans', sans-serif;
	         font-size: 18px;
	         line-height: 21px;
	         font-weight: 700;
	         color: #fff;
	         

}
.hero-text span {

			padding-left: 15px;
			padding-top: 20px;
			    width: 90%;


}
.fa{

			padding-top: 25px;
}



.form-container{
	               height: 480px;
	               background-color: #ececec;
	             width: 38%;
	             float: right;
	             overflow: hidden;
	             margin-bottom: 30px;
	             text-align: center;


}
.form-container h1 {
	                    font-size: 18px;
	                    line-height: 21px;
	                    font-weight: 900;
	                   font-family:'ProximaNova-Regular';
	                   padding-top: 30px;
	                   padding-bottom: 12px; 
	                   color: #1c1c1c;


}
input{
		width: 240px;
		height: 32px;
		margin-top: 8px;
}
.request-form{
                width: 285px;
			    height: 55px;
			    background-color:#ffb400;
			    
	            margin-top: 10px;
	            color: #fefefe;
			    font-size: 17px;
			    line-height: 24px;
			    font-family: "ProximaNova-Regulart";
			    font-weight: 300;
	            text-align: center;
	             border: 0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #8b8b8b ;
 font-family: 'Montserrat';
 font-size: 14px;
 padding-left: 20px;
 line-height: 20px;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #8b8b8b ;
 font-family: 'ProximaNova-Regular';
 font-size: 14px;
 padding-left: 20px;
 line-height: 20px;
}

form p{
   font-family:  'Open Sans', sans-serif;
   font-size: 13px;
   font-weight: 100;
   padding-top: 10px; 
   color: #818080;

}
form a{
	   font-family: 'ProximaNova-Regular';
	   font-size: 13px;
	   font-weight: 300;
	   padding-top: 10px; 
	   color: #000;

}







.our-partners{
              padding-top: 65px;

              background-color: #fff;
              text-align: center;
}
.our-partners h1{

                font-family: 'ProximaNova-Regular';
                font-weight: 700;
                font-size:26px;
                line-height: 43px;
                color: #252a2e;
}
.icon{
			      background-image: url(our_partners.jpg);
			    width: 134px;
			    height: 100px;
			    float: left;
			    margin-top: 56px;
			    margin-bottom: 85px;
			    display: inline-block;
}
		#fox{       background-position: -134px 0px;}

		#asos{       background-position: -268px 0px;}

		#tayota{       background-position: -402px 0px;}
		
		#loreal{       background-position: -536px 0px;}

		#campbells{       background-position: -670px 0px;}

		#nivea{       background-position: -808px 0px;}

.about-us{
	       background-color: #f6f6f6;
}		
.top{
	text-align: center;
    margin-top: 110px;
}
.about-us h1{
              font-family: 'ProximaNova-Regular';
                font-weight: 700;
                font-size:26px;
                line-height: 43px;
                color: #252a2e;
  }              
  .about-us p{
              font-family: 'ProximaNova-Regular';
                font-weight: 300;
                font-size:16px;
                line-height: 24px;
                color: #252a2e;
  }  
.connect{
				padding-top: 130px;

}  
.connect-image{
			      width: 40%;
			      float: left;

}
.connect-text{
				width: 60%;
				float:left;
				margin-top: 32px;
}
.collect{
	
			margin-top: 110px;
			display: inline-flex;
}  



.collect-text{
				width: 60%;
				float:left;
}

.collect-image{
			      width: 40%;
			      float: left; 
 }                        
 .convert{
			padding-top: 130px;

}  
.convert-image{
			      width: 40%;
			      float: left;

}
.convert-text{
				width: 60%;
				float:left;
				padding-top: 72px;
}
.alignment{
                 text-align: center;

}



.submit-button{    
			width: 287px;
		    height: 55px;
		    background-color:#ffb400;
		    margin-bottom: 120px;
            margin-top: 155px;
            color: #fefefe;
		    font-size: 17px;
		    line-height: 24px;
		    font-family: "Montserrat";
		    font-weight: 300;
            text-align: center;
             border: 0px;
}
.testemonial{
	          margin-top: 120px;
	          overflow: hidden;





}



.testemonial-image{
		            width: 40%;
	                float:left;
	                padding-left: 65px;

}
.testemonial-text{  
                     width: 40%;
	                float:left;
	                 padding-left: 80px;


}
.testemonial-text h1{
			             font-family: 'ProximaNova-Regular';
		                font-weight: 700;
		                font-size:26px;
		                line-height: 43px;
		                color: #252a2e;
}
.testemonial-text p{ 
			            font-family: 'ProximaNova-Regular';
		                font-weight: 300;
		                font-size:16px;
		                line-height: 24px;
		                color: #252a2e;
		                 padding-top: 30px;
                         padding-bottom: 55px;
                        
  }  

.testemonial-text p1{
	                    font-family: 'ProximaNova-Regular';
		                font-weight: 900;
		                font-size:16px;
		                line-height: 23px;
		                color: #252a2e;
}


footer{ 
	   
	     background-color: #284169;
	     text-align: center;
	     overflow: hidden;
	     padding-top: 125px !important;
}
footer h1{  
	                    font-family: 'ProximaNova-Regular';
		                font-weight: 900;
		                font-size:30px;
		                line-height:43px;
		                color: #fff;
}

footer p{
	                    font-family:  'Open Sans', sans-serif;
		                font-weight: 300;
		                font-size:18px;
		                line-height:25px;
		                color: #fff;
		                  padding-left: 125px;
                          padding-right: 125px;
             
	      
}

footer p2{
	                    font-family:  'Open Sans', sans-serif;
		                font-weight: 100;
		                font-size:15px;
		                line-height:19px;
		                color: #fff;
             
	      
}


.request-footer{
	            width: 340px;
			    height: 75px;
			    background-color:#ffb400;
			    margin-bottom: 15px;
	            margin-top: 60px;
	            color: #fefefe;
			    font-size: 22px;
			    line-height: 24px;
			    font-family: "Montserrat";
			    font-weight: 300;
	            text-align: center;
	            border: 0px;
}

.copy-right{
	                    font-family:  'Open Sans', sans-serif;
		                font-weight: 100;
		                font-size:15px;
		                line-height:19px;
		                color: #fff;
             

}
.copy-right::before{


					    content: "";
				    border: 1px solid white;
				    display: inline-block;
				    width: 100%;
				    opacity: 0.38;
				    margin-top: 70px;
}















@media only screen and   (max-width: 767px){


.hero-text{
                 text-align: center;
		         display: block;
		         width: 90% !important;
		         float: none;
		          margin-bottom: 20px;
}
.hero-text h1{
			    font-size: 30px;
			    line-height: 30px;
			    font-weight: 700;
			    color: #fff;
			    padding-top: 30px;
			    letter-spacing: 1px;
}
.hero-text h3{

	              font-size: 15px;
                 line-height: 20px;
}

.checked{
	text-align: left;
	padding-left: 1%;
}








.form-container{
                     width: 60% !important;
	                 margin: 40px auto !important;
	                 float: none !important;
	                 overflow: hidden !important;
	                 height: 500px !important;

}
.our-partners{

         padding-top: 40px;

}
.our-partners h1{

	              margin-bottom: 20px;
	              width: 95%;
}







.connect-image , .connect-text , .collect-text , .collect-image , .convert-image , .convert-text {

    width: 100% !important;
    text-align: center !important;
    padding-left: 0px !important;
	padding-right: 0px !important;

} 
.alignment{
                     text-align: center;

}
.submit-button{
	              margin: 40px auto !important;
	                 float: none !important;

}

.testemonial-text p {
	padding-bottom: 25px;
}



footer{
        padding-top: 50px !important;



}

 footer p  {
 	        width: 90%;
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 20px;
            font-size: 15px;
            line-height: 20px;
 }
footer h1  {
	 	       width: 90%;
		       padding-left: 40px;
		       padding-right: 40px;
		       font-size: 25px;
		       line-height: 26px;
 }



}










@media only screen and (max-width: 991px ) {


.hero-text{
                  width: 60%;
                  float: left;
                 
                  padding-left: 20px;
}

.form-container{
                  width: 34%;
	              float: left;
	               margin-right: 20px;
	               height: 500px;
	              

}

.our-partners{
	
				width: 100%;
			    padding-left: 20px;
}
.icon{

	float: none;
	margin: 0px auto;
}



.connect-image , .connect-text , .collect-text , .collect-image , .convert-image , .convert-text{
											   width: 44%;
											   float: left;
											   padding-left: 20px;
											   padding-right: 20px;
}

.testemonial{
				display: inline-block;
				text-align: center;
				
}
.image-join-us{
	width: 80%;
}

.testemonial-image{
				    width: 100%;
				   padding-left: 0px;
				   
}

.testemonial-text{
					 width: 80%;
					 margin: 0px auto;
					 float: none;
				    padding-left: 0px;
}


}



@media only screen and (max-width: 1200px ) and (min-width:991px) {


.image-join-us{
	width: 80% !important;
}

.testemonial-image{
				    width: 30%;
				   padding-left: 0px;
				   float: left;
				   
}

.testemonial-text{
					 width: 60%;
					 padding-left: 80px;
				      float: left;
}
}















@media  only screen and  (max-width: 991px )and (min-width:768px ){

.hero-text{
                  width: 60%;
                  float: left;
                 
                  padding-left: 20px;
}




.form-container{
                  width: 34%;
	              float: left;
	               margin-right: 20px;
	               height: 500px;
	              

}





}

