---
layout: default
--- 



  <footer>
     	  <div class="container">

     	      <h1>The Industry Leader in Customer Identity Management</h1>
     	      <p>To learn more about how Gigya can help you, simply fill out the form to the right. A Gigya representative will be in touch shortly to schedule a personalized demo and answer any questions you may have.</p>
     	           <input class="request-footer" type="submit" value="Request a Demo"> <br>
     	       <p2>The Number 1 Choice of Custom Identity Managment <br> by Gatner</p2>  



     	       <div class="copy-right">
     	       &copy; Copyright 2016 Gigya, Inc. | 2513 Charleston Rd #200, Mountain View, CA 94043 | (650) 353-7230
     	       </div>  
     	  	


     	  </div>


     </footer>       
