

<head>
    <link rel="stylesheet" type="text/css" href="css.css">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GIGYA</title>
</head>
<body>
<div class="hero">
	    <div class="container">
					<div class="header">
						<img src="gigya_logo.png" alt="GIGYA-LOGO"><br>
						<p2>The Leader in Customer Identity Managment </p2>
					</div>
		</div>
		
		<div class="container">			
				<div class="hero-conatiner">
	                   <div class="hero-text">
		                    <h1> The Industry Leader in Customer Identity Management</h1>
		                    <h2>Trusted by more than 700 Leading Brands</h2>
		                    <h3 class="checked">
		                    	<i class="fa fa-check" aria-hidden="true" style="display: inline-block;vertical-align: top;"></i><span style="display: inline-block;">Securely collect, manage and leverage customer identities at scale</span><br>

		                    	<i class="fa fa-check" aria-hidden="true" style="display: inline-block;vertical-align: top;"></i><span style="display: inline-block;" >Providing the unified customer view needed to create personal experiences</span><br>

		                    	<i class="fa fa-check" aria-hidden="true" style="display: inline-block;vertical-align: top;"></i><span style="display: inline-block;">Fuel top-line growth and promote enduring customer relationships</span>
		                    </h3>
                         </div>

	                 	          <div class="form-container">
	                 	          <h1>Schedule a Live Custom Demonstration </h1>
	                 	          <form>
	                 	          	<input class="resp" type="text" name="abc" placeholder="First Name">
	                 	          	<input class="resp" type="text" name="abc" placeholder="Last Name">
	                 	          	<input class="resp"  type="text" name="abc" placeholder="Email Address">	
	                 	          	<input class="resp" type="text" name="abc" placeholder="Company Name">	
	                 	          	<input class="resp"  type="text" name="abc" placeholder="Job Title">
	                 	            <input class="resp"  type="text" name="abc" placeholder="Phone Number">	
	                 	   


                                       <input class="request-form" type="submit" value="Request a Demo">

                                       <p>* All the fields are required</p>
                                       <p>Your privacy is important to us. See our <a href="#"> Privacy Policy</a> </p>

	                 	          </form>







	                 	          </div>

                </div>   
        </div>
</div>             
